*.d
*.o
*.a
*.so
*.dep
*.dwo

sample/audio/sample_audio
sample/region/sample_region
sample/sample_ir_auto/sample_ir_auto
sample/sample_panel/lt9611/lt9611
sample/sample_panel/sample_panel
sample/sensor_test/sample_sensor_test
sample/vdec/sample_vdec
sample/vdec/sample_vdec_asan
sample/vdecvo/sample_vdecvo
sample/vdecvo/sample_vdecvo_asan
sample/venc/sample_vcodec
sample/venc/sample_vcodec_asan
sample/venc/sample_venc
sample/venc/sample_venc_asan
sample/vio/sample_vio

