*.o
*.so
*.a
*.swp
.vscode
*.mp4
*.ts
*.mov
prebuilt/*
install/*
rtsp_server_dual
rtsp_server_multi
rtsp_server_file
rtsp_server_audio
rtsp_server_video
rtsp_server_video_audio
rtsp_service
rtsp_server_mjpeg
rtsp_service_dual
cvi_rtsp.tar.gz
rtsp_client
rtsp_server
test_aisdk_lib
test_unittest
